# dependencies
node_modules/
server/node_modules/

# build output
web-build/

# expo
.expo/
.expo-shared/

# native
android/
ios/

# env & secrets
.env
.env.*
!.env.example

# misc
*.log
.DS_Store
*.pem
